In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("campaigns_table.csv")

In [7]:
df

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
0,CM1276,218,Product Launch,2024-08-28,2024-09-02,2358.0,293940,383898,7.39,2.67,707,25.40
1,CM4870,295,Brand Awareness,2024-09-09,2024-09-06,9965.0,647640,672940,NaN,7.58,347,37.03
2,CM1190,295,Brand Awareness,2024-08-11,2024-08-22,8431.0,13976,73587,4.43,3.13,84,16.88
3,CM4917,236,Brand Awareness,2024-10-16,2024-10-25,NaN,270156,320879,3.19,8.78,877,27.02
4,CM4475,323,Affiliate,2024-03-17,2024-03-16,5529.0,195644,387052,0.79,14.60,81,-5.02
...,...,...,...,...,...,...,...,...,...,...,...,...
5145,CM4526,345,Brand Awareness,2024-03-30,2024-04-07,4920.0,363757,375667,6.38,4.52,61,46.18
5146,CM566,247,Affiliate,2024-01-02,2024-01-15,4436.0,958217,1007803,1.97,6.75,482,36.00
5147,CM3192,157,Brand Awareness,2024-03-14,2024-03-25,973.0,656528,776490,7.23,13.50,939,11.24
5148,CM3872,250,Product Launch,2024-10-26,2024-10-18,9488.0,520892,588304,4.54,7.20,755,56.54
5149,CM960,247,Giveaway,2024-05-22,2024-05-19,8813.0,144573,189864,8.91,9.32,570,9.89

In [24]:
df.iloc[2]

Campaign_ID                    CM1190
Influencer_ID                     295
Campaign_Type         Brand Awareness
Start_Date                 2024-08-11
End_Date                   2024-08-22
Budget_USD                     8431.0
Reach                           13976
Impressions                     73587
Engagement_Rate                  4.43
Click_Through_Rate               3.13
Conversions                        84
ROI                             16.88
Name: 2, dtype: object

In [8]:
df.head()

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
0,CM1276,218,Product Launch,2024-08-28,2024-09-02,2358.0,293940,383898,7.39,2.67,707,25.40
1,CM4870,295,Brand Awareness,2024-09-09,2024-09-06,9965.0,647640,672940,NaN,7.58,347,37.03
2,CM1190,295,Brand Awareness,2024-08-11,2024-08-22,8431.0,13976,73587,4.43,3.13,84,16.88
3,CM4917,236,Brand Awareness,2024-10-16,2024-10-25,NaN,270156,320879,3.19,8.78,877,27.02
4,CM4475,323,Affiliate,2024-03-17,2024-03-16,5529.0,195644,387052,0.79,14.60,81,-5.02

In [9]:
df.tail()

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
5145,CM4526,345,Brand Awareness,2024-03-30,2024-04-07,4920.0,363757,375667,6.38,4.52,61,46.18
5146,CM566,247,Affiliate,2024-01-02,2024-01-15,4436.0,958217,1007803,1.97,6.75,482,36.00
5147,CM3192,157,Brand Awareness,2024-03-14,2024-03-25,973.0,656528,776490,7.23,13.50,939,11.24
5148,CM3872,250,Product Launch,2024-10-26,2024-10-18,9488.0,520892,588304,4.54,7.20,755,56.54
5149,CM960,247,Giveaway,2024-05-22,2024-05-19,8813.0,144573,189864,8.91,9.32,570,9.89

In [4]:
df.describe()

,Influencer_ID,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
count,5150.000000,4894.000000,5150.000000,5.150000e+03,4892.000000,5150.000000,5150.000000,4891.000000
mean,287.760971,5219.199837,496483.448738,5.956351e+05,5.302365,7.506439,502.232621,24.813889
std,55.766790,2755.691502,291192.565688,2.961335e+05,2.725659,4.251031,285.166124,20.126809
min,133.000000,500.000000,1056.000000,7.803000e+03,0.500000,0.200000,10.000000,-9.990000
25%,256.000000,2805.250000,244270.250000,3.386265e+05,2.970000,3.800000,255.000000,7.380000
50%,302.000000,5263.500000,497382.000000,5.965980e+05,5.290000,7.530000,503.000000,24.960000
75%,333.000000,7575.750000,748376.750000,8.479900e+05,7.640000,11.170000,751.750000,42.170000
max,350.000000,9998.000000,999613.000000,1.195330e+06,10.000000,15.000000,999.000000,59.950000

In [5]:
df.shape

(5150, 12)

In [6]:
df.sample()

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
39,CM4449,218,Affiliate,2024-03-20,2024-03-20,4359.0,243720,334027,4.6,5.36,645,14.82

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5150 entries, 0 to 5149
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Campaign_ID         5150 non-null   object
 1   Influencer_ID       5150 non-null   int64
 2   Campaign_Type       5150 non-null   object
 3   Start_Date          5150 non-null   object
 4   End_Date            5150 non-null   object
 5   Budget_USD          4894 non-null   float64
 6   Reach               5150 non-null   int64
 7   Impressions         5150 non-null   int64
 8   Engagement_Rate     4892 non-null   float64
 9   Click_Through_Rate  5150 non-null   float64
 10  Conversions         5150 non-null   int64
 11  ROI                 4891 non-null   float64
dtypes: float64(4), int64(4), object(4)
memory usage: 482.9+ KB

In [3]:
df["End_Date"]=pd.to_datetime(df["End_Date"])

In [4]:
df["Start_Date"]=pd.to_datetime(df["Start_Date"])

In [15]:
numeric_cols = ['Budget_USD', 'Reach', 'Impressions', 'Engagement_Rate', 'Click_Through_Rate', 'Conversions', 'ROI']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [16]:
df.dtypes

Campaign_ID                   object
Influencer_ID                  int64
Campaign_Type                 object
Start_Date            datetime64[ns]
End_Date              datetime64[ns]
Budget_USD                   float64
Reach                          int64
Impressions                    int64
Engagement_Rate              float64
Click_Through_Rate           float64
Conversions                    int64
ROI                          float64
dtype: object

In [6]:
df.duplicated().sum()

np.int64(150)

In [7]:
df.drop_duplicates(keep='first',inplace=True)

In [12]:
df.isnull()

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5145,False,False,False,False,False,False,False,False,False,False,False,False
5146,False,False,False,False,False,False,False,False,False,False,False,False
5147,False,False,False,False,False,False,False,False,False,False,False,False
5148,False,False,False,False,False,False,False,False,False,False,False,False
5149,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.drop_duplicates()

,Campaign_ID,Influencer_ID,Campaign_Type,Start_Date,End_Date,Budget_USD,Reach,Impressions,Engagement_Rate,Click_Through_Rate,Conversions,ROI
0,CM1276,218,Product Launch,2024-08-28,2024-09-02,2358.0,293940,383898,7.39,2.67,707,25.40
1,CM4870,295,Brand Awareness,2024-09-09,2024-09-06,9965.0,647640,672940,NaN,7.58,347,37.03
2,CM1190,295,Brand Awareness,2024-08-11,2024-08-22,8431.0,13976,73587,4.43,3.13,84,16.88
3,CM4917,236,Brand Awareness,2024-10-16,2024-10-25,NaN,270156,320879,3.19,8.78,877,27.02
4,CM4475,323,Affiliate,2024-03-17,2024-03-16,5529.0,195644,387052,0.79,14.60,81,-5.02
...,...,...,...,...,...,...,...,...,...,...,...,...
5145,CM4526,345,Brand Awareness,2024-03-30,2024-04-07,4920.0,363757,375667,6.38,4.52,61,46.18
5146,CM566,247,Affiliate,2024-01-02,2024-01-15,4436.0,958217,1007803,1.97,6.75,482,36.00
5147,CM3192,157,Brand Awareness,2024-03-14,2024-03-25,973.0,656528,776490,7.23,13.50,939,11.24
5148,CM3872,250,Product Launch,2024-10-26,2024-10-18,9488.0,520892,588304,4.54,7.20,755,56.54
5149,CM960,247,Giveaway,2024-05-22,2024-05-19,8813.0,144573,189864,8.91,9.32,570,9.89

In [13]:
df.isnull().sum()

Campaign_ID             0
Influencer_ID           0
Campaign_Type           0
Start_Date              0
End_Date                0
Budget_USD            256
Reach                   0
Impressions             0
Engagement_Rate       258
Click_Through_Rate      0
Conversions             0
ROI                   259
dtype: int64

In [13]:
df['Budget_USD'] = df['Budget_USD'].fillna(df['Budget_USD'].median())
df['Engagement_Rate'] = df['Engagement_Rate'].fillna(df['Engagement_Rate'].mean())
df['ROI'] = df['ROI'].fillna(0)

In [14]:
df.isna().sum()

Campaign_ID           0
Influencer_ID         0
Campaign_Type         0
Start_Date            0
End_Date              0
Budget_USD            0
Reach                 0
Impressions           0
Engagement_Rate       0
Click_Through_Rate    0
Conversions           0
ROI                   0
dtype: int64

In [8]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [19]:
df = df[['Campaign_ID', 'Influencer_ID', 'Campaign_Type', 'Start_Date', 'End_Date',
         'Budget_USD', 'Reach', 'Impressions', 'Engagement_Rate', 'Click_Through_Rate', 'Conversions', 'ROI']]

In [25]:
df.to_csv("C:/Users/Bala Ganesh/Documents/cleaned_campaigns_table.csv", index=False)
print("✅ Cleaned dataset saved as cleaned_campaigns_table.csv")

✅ Cleaned dataset saved as cleaned_campaigns_table.csv