In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("regions_table.csv")

In [5]:
df

     Region_Name  Region_ID
0          India          1
1            SEA          2
2         Europe          3
3  North America          4
4    Middle East          5

In [6]:
df.head()

     Region_Name  Region_ID
0          India          1
1            SEA          2
2         Europe          3
3  North America          4
4    Middle East          5

In [7]:
df.tail()

     Region_Name  Region_ID
0          India          1
1            SEA          2
2         Europe          3
3  North America          4
4    Middle East          5

In [11]:
df.describe

<bound method NDFrame.describe of      Region_Name  Region_ID
0          India          1
1            SEA          2
2         Europe          3
3  North America          4
4    Middle East          5>

In [10]:
df.shape

(5, 2)

In [12]:
df.sample()

  Region_Name  Region_ID
0       India          1

In [13]:
df.dtypes

Region_Name    object
Region_ID       int64
dtype: object

In [14]:
df.info

<bound method DataFrame.info of      Region_Name  Region_ID
0          India          1
1            SEA          2
2         Europe          3
3  North America          4
4    Middle East          5>

In [16]:
df.to_csv("C:/Users/Bala Ganesh/Documents/cleaned_regions_table.csv", index=False)
print("Cleaned data saved as 'cleaned_regions_table.csv")

Cleaned data saved as 'cleaned_regions_table.csv