In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("influencers_table.csv")

In [3]:
df

       Influencer_Name   Platform  Region_ID  Influencer_ID
0     Influencer_Aarav     TikTok          1              1
1      Influencer_Zane  INSTAGRAM          2              2
2      Influencer_Zane  INSTAGRAM          1              3
3    Influencer_Sophia  Instagram          3              4
4    Influencer_Sophia          X          4              5
..                 ...        ...        ...            ...
345     Influencer_Mia  Instagram          1            346
346    Influencer_Riya     TikTok          4            347
347    Influencer_Noah  INSTAGRAM          3            348
348    Influencer_Riya    YouTube          3            349
349   Influencer_Ethan     TikTok          1            350

[350 rows x 4 columns]

In [6]:
df.iloc[3,[2,3]]

Region_ID        3
Influencer_ID    4
Name: 3, dtype: object

In [4]:
df.head()

     Influencer_Name   Platform  Region_ID  Influencer_ID
0   Influencer_Aarav     TikTok          1              1
1    Influencer_Zane  INSTAGRAM          2              2
2    Influencer_Zane  INSTAGRAM          1              3
3  Influencer_Sophia  Instagram          3              4
4  Influencer_Sophia          X          4              5

In [5]:
df.tail()

      Influencer_Name   Platform  Region_ID  Influencer_ID
345    Influencer_Mia  Instagram          1            346
346   Influencer_Riya     TikTok          4            347
347   Influencer_Noah  INSTAGRAM          3            348
348   Influencer_Riya    YouTube          3            349
349  Influencer_Ethan     TikTok          1            350

In [6]:
df.describe

<bound method NDFrame.describe of        Influencer_Name   Platform  Region_ID  Influencer_ID
0     Influencer_Aarav     TikTok          1              1
1      Influencer_Zane  INSTAGRAM          2              2
2      Influencer_Zane  INSTAGRAM          1              3
3    Influencer_Sophia  Instagram          3              4
4    Influencer_Sophia          X          4              5
..                 ...        ...        ...            ...
345     Influencer_Mia  Instagram          1            346
346    Influencer_Riya     TikTok          4            347
347    Influencer_Noah  INSTAGRAM          3            348
348    Influencer_Riya    YouTube          3            349
349   Influencer_Ethan     TikTok          1            350

[350 rows x 4 columns]>

In [7]:
df.shape

(350, 4)

In [8]:
df.sample()

    Influencer_Name Platform  Region_ID  Influencer_ID
51  Influencer_Noah  YouTube          1             52

In [10]:
df.dtypes

Influencer_Name    object
Platform           object
Region_ID           int64
Influencer_ID       int64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Influencer_Name  350 non-null    object
 1   Platform         350 non-null    object
 2   Region_ID        350 non-null    int64
 3   Influencer_ID    350 non-null    int64
dtypes: int64(2), object(2)
memory usage: 11.1+ KB

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.drop_duplicates(keep='first',inplace=True)

In [13]:
df.isnull()

     Influencer_Name  Platform  Region_ID  Influencer_ID
0              False     False      False          False
1              False     False      False          False
2              False     False      False          False
3              False     False      False          False
4              False     False      False          False
..               ...       ...        ...            ...
345            False     False      False          False
346            False     False      False          False
347            False     False      False          False
348            False     False      False          False
349            False     False      False          False

[350 rows x 4 columns]

In [14]:
df.drop_duplicates()

       Influencer_Name   Platform  Region_ID  Influencer_ID
0     Influencer_Aarav     TikTok          1              1
1      Influencer_Zane  INSTAGRAM          2              2
2      Influencer_Zane  INSTAGRAM          1              3
3    Influencer_Sophia  Instagram          3              4
4    Influencer_Sophia          X          4              5
..                 ...        ...        ...            ...
345     Influencer_Mia  Instagram          1            346
346    Influencer_Riya     TikTok          4            347
347    Influencer_Noah  INSTAGRAM          3            348
348    Influencer_Riya    YouTube          3            349
349   Influencer_Ethan     TikTok          1            350

[350 rows x 4 columns]

In [15]:
df.isnull().sum()

Influencer_Name    0
Platform           0
Region_ID          0
Influencer_ID      0
dtype: int64

In [18]:
if 'followers' in df.columns:
    df['followers'] = df['followers'].astype(int)

In [19]:
if 'followers' in df.columns:
    Q1 = df['followers'].quantile(0.25)
    Q3 = df['followers'].quantile(0.75)
    IQR = Q3 - Q1
    df = df[(df['followers'] >= Q1 - 1.5*IQR) & (df['followers'] <= Q3 + 1.5*IQR)]

In [20]:
df.to_csv("C:/Users/Bala Ganesh/Documents/cleaned_influencers_table.csv", index=False)
print("Cleaned data saved as 'cleaned_influencers_table.csv")

Cleaned data saved as 'cleaned_influencers_table.csv